<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section>
<div class="card">
<div class="card-body">
<div class="container text-center">
<img src="" style="height:200px ; width:300px" class="my_profile_picture" th:src="@{'/img/'+${contact.image}}" alt="profile_photo">
<h3 th:text="${contact.name}"></h3>
<h3 th:text="${contact.secondName}"></h3>
<h3 th:text="${contact.phone}"></h3>
<h3 th:text="${contact.work}"></h3>
<h3 th:text="${contact.email}"></h3>
<h3 th:text="${contact.description}"></h3>
</div>
</div>
</div>

</section>

</body>
</html>